<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- <mapper namespace="yonghuMapper">  -->
<mapper namespace="com.mybaits.demo.dao.UserMapper">
     <!-- 查询， 在mybaitsconfig.xml文件中给起了别名 -->
    <select id="findAll" resultType="yonghu">
        select id,user_name,password from tb_user
    </select>
    <!-- 查询byid-->
    <select id="findByIds" parameterType="java.util.List" resultType="com.mybaits.demo.bean.User">
        select id,user_name userName,password from tb_user
        where
        <foreach collection="list" open="id in(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>
    <!-- 添加-->
    <insert id="addUser" parameterType="com.mybaits.demo.bean.User">
        insert into tb_user(id,user_name,password) values(#{id},#{userName},#{password})
    </insert>
    <!-- 修改-->
    <update id="updateUser" parameterType="com.mybaits.demo.bean.User">
        update tb_user set user_name=#{userName} where id=#{id}
    </update>
    <!-- -->
    <delete id="delUser" parameterType="java.lang.Integer">
        delete from tb_user where id=#{id}
    </delete>


</mapper>